{% extends 'base.html' %}

{% block title %}Edit task{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{{ task.subject }}</li>
  <li class="breadcrumb-item active">Edit task</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
